/*Final Project StyleSheet*/

/* Reset */
section, div, aside, article, nav, ul, li {
	display: block;
	margin: 0;
	padding: 0;
}
 
 /* Main */
body {
	position: relative;
	min-width: 1040px;
	height: 100%;
	background-image: url("../images/mountainsDayClear.png");
	background-position: bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: rgb(100, 115, 150);
	transition: background .5s ease-out;
	margin: 0;
}

h1 {
	display: block;
	float: right;
	margin-right: 50px;
	color: rgba(0, 0, 0, .25);
}

#navContainer {
	position: relative;
	top: 50px;
	left: -10px;
	width: 63%;
	height: 50px;
	background-color: rgb(36, 37, 43);
	box-shadow: rgb(10, 10, 20) 5px 5px 2px;
}

nav {
	position: absolute;
	clear: none;
	width: 800px;
	height: 50px;
	right: 0px
}

ul {
	padding: 0;
	margin: 0;
	cursor: pointer;
}

li {
	list-style-type: none;
	display: inline-block;
	float: left;
	width: 150px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: rgb(36, 37, 43);
}

.submenu li {
	background-color: rgb(36, 37, 43);
	box-shadow: rgb(10, 10, 20) 5px 5px 2px;
}

a {
	display: block;
	color: rgb(94, 92, 95);
	font-weight: bold;
}

#menuBlank {
	width: 200px;
}

li :hover {
	width: 100%;
	background-color: rgb(74, 72, 75);
}

a:visited {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

a:link {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

article {
	display: inline-block;
	margin: 100px 0 0 50px;
	clear: both;
	width: 60%;
	height: auto;
	background-color: rgba(74, 72, 75, 0.95);
	box-shadow: rgb(10, 10, 20) 5px 5px 2px;
	font-family:  "Helvetica", "Arial", "sans-serif";
}

article h2 {
	padding: 25px 0 25px 25px;
	margin: 0;
	color: rgb(94, 92, 95);
	background-color: rgb(36, 37, 43);
}

#description{
	width: 100%;
	min-height: 200px;
}

#exampleImage {
	width: 90%;
	padding: 10px;
}

#example{
	display: none;
	width: 36%;
	float: right;
	border: solid 1px black;
	margin: 1%;
	padding-left: 10px;
	word-wrap: break-word;
}

.tutorial{
	display: inline-block;
}

h3 {
	text-align: center;
}

#test{
	display: none;
	clear: both;
}

.testdiv{
	display: inline-block;
	margin: 10px 0 10px 10px;
	background: rgb(200, 215, 235);
	width: 200px;
	height: 50px;
	text-align: center;
	line-height: 50px;
}

article p {
	padding: 0 25px 25px 25px;
}

aside {
	position: absolute;
	right: 50px;
	top: 152px;
	width: 200px;
	background-color: rgba(99, 97, 100, 0.95);
	box-shadow: rgb(10, 10, 20) 5px 5px 2px;
	font-family:  "Helvetica", "Arial", "sans-serif";
}

aside img{
	float: right;
}

aside h2 {
	padding: 25px 0 25px 25px;
	margin: 0;
	color: rgb(99, 97, 100);
	background-color: rgb(36, 37, 43);
}

aside h3 {
	text-align: left;
	padding-left: 10px;
	font-size: 1.5em;
}

aside p {
	padding: 0;
	margin: 0;
	font-size: .8em;
}

table {
	padding: 10px 10px;
	border: solid 1px black;
	width: 100%;
	font-size: .8em;
}

#todayContainer h3 {
	width: 100px;
	float: left;
}

#icon {
	display: block;
	padding: 12px 0px 0 20px;
}

#todayContainer {
	border: solid 1px black;
}

#todayHeader {
	display: block;
	width: 30%;
	margin: 0;
}

#todayCurrentHeader {
	display: inline-block;
	clear: both;
	font-weight: bold;
	width: 35%;
	padding-left: 10px;
	float: left;
}

#todayCurrent {
	display: inline-block;
	width: 50%;
}

#currentIcon {
	float: left;
}

.firstCell {
	font-size: 1.5em;
}

th {
	width: 30px;
	text-align: left;
}

td {
	width: 50%;
	text-align: left;
}

#attribution img {
	padding: 10px;
	width: 90%;
	float: left;
}

footer {
	font-weight: bold;
	margin: 50px 0 0 50px;
	padding: 2px 2px;
	width: 240px;
	color: white;

}