@charset "utf-8";

/*Tattoo CSS*/

/* Common css section*/
body {
	background-image: url("../images/2patternsm.png");
    background-repeat: repeat;
	background-color: rgb(5, 5, 5);
}

#sectionMain {
	display: table;
	margin: auto;
	width: 800px;
	background-color: rgb(75, 75, 75);
	box-shadow: rgb(0, 0, 0) 10px 10px 10px;
}

div, header, nav {
	display: block;
	padding-bottom: 25px;
}

h1, h2, p {
	text-align: center;
	display: block;
	padding: 0 75px;
}

img {
	display: block;
	margin: 0px auto;
}

nav {
	margin: 0 0 40px 0;
	padding: 0;
	text-align: center;
	list-style: none;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	display: inline;
}

nav a{
	display:inline-block;
	padding: 20px 0;
	width: 19.60%;
}

nav li :hover {
	background: rgb(50, 50, 50);
}

nav a:visited {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

nav a:link {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

a:visited {
	color: rgb(0, 0, 0);
	text-decoration: underline;
}

a:link {
	color: rgb(0, 0, 0);
	text-decoration: underline;
}

/* Artist Page */

#artistList {
	display: block;
	float: left;
	margin: 0 0 0 75px;
}

#artistList li {
	display: block;
	padding: 22px 10px;
}

#artistImage {
	display: block;
	margin: 0 75px 0 0;
}

#userInfo p {
	text-align: left;
}
	
#safetyInfo p {
	text-align: left;
}

/* Shopping page */

form legend {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

form input {
	float: right;
	clear: both;
	border: none;
	height: 20px;
	width: 40px;
	margin: 5px 0 5px 40px;
	background-color: rgb(125, 125, 125);
}


#accountInfo {
	position: relative;
	display: block;
	float: left;
	clear: none;
	margin-left: 75px;
	width: 50%;
	height: 500px;
}

.textInput {
	width: 240px;
	float: right;
}

.checkboxInput {
	width: 20px;
	float: right;
}

#accountSubmit {
	position: absolute;
	top: 475px;
	left: 270px;
	width: 100px;
}

h5 {
	display: block;
	clear: both;
	margin: 0;
}

#accountInfo label {
	float: left;
	margin: 5px 0;
}

.warning {
	display: block;
	clear: both;
	text-align:center;
	margin: 0;
	color: red;
	font-size: .8em;
}

aside {
	display: block;
	float: left;
	clear: none;
	top: 100px;
	width: 188px;
	height: 485px;
	padding: 10px;
	margin: 13px 10px 0 10px;
	border: solid 1px black;
}

#accountDisplay {
	display: none;
	margin: 0;
	padding: 0;
}

aside p {
	float: left;
	clear: both;
	font-size: .8em;
	margin: 0;
	padding: 0;
	word-break: break-word;
	text-align: left;
}

#shipInfo {
	width: 50%;
	margin: 0 0 50px 75px;
	display: inline-block;
	float: left;
}

#supplies, #shipMethod {
	margin: 0 75px;
	clear: both;
}

div.errorContainer {
	clear: both;
	width: 80%;
	text-align: center;
	color: red;
	background-color: none;
	margin: auto;
	padding: 10px 0;
}

#firstName, #lastName, #street, #city {
	width: 180px;
}

#number, #apt, #zip {
	width: 80px;
}

#state {
	float: right;
	clear: both;
	border: none;
	height: 20px;
	width: 40px;
	margin: 5px 0 5px 40px;
	background-color: rgb(125, 125, 125);
}

#specialBox {
	display: block;
	clear: both;
	width: 398px;
	max-width: 398px;
	background-color: rgb(125, 125, 125);
}

textarea::placeholder {
	color: rgb(50, 50, 50);
}

form label {
	float: right;
	margin: 5px 0;
}

#shipInfo label {
	float: left;
	margin: 5px 0;
}

#totalSubmit {
	display: inline-block;
	float: right;
	clear: none;
	width: 200px;
	margin-right: 75px;
	text-align: right;
}

#messageBox {
	display: inline-block;
	float: right;
	clear: none;
	text-align: center;
	color: red;
}

#submitButton {
	display: block;
	width: 100px;
}

#totalSubmit h3 {
	display: inline-block;
	float: left;
	clear: none;
	width: 50%;
}

/* Web security page */

#userInfo, #safetyInfo, #navigation {
	margin: 0 75px;
}

#map {
	width: 100%;
	height: 650px;
}

#location {
	padding: 10px;
}

/* Appointments page */

#calendar {
	display: none;
	position: absolute;
	width: 300px;
	height: 300px;
	top: 300px;
	left: 800px;
	background: rgb(25, 25, 25);
	color: rgb(200, 200, 200);
	padding: 10px;
	box-shadow: rgb(0, 0, 0) 10px 10px 10px;
}

#apptForm {
	display: block;
	clear: both;
	float: left;
	width: 40%;
	border: 1px double black;
	border-right: 5px solid rgb(25, 25, 25);
	border-bottom: 5px solid rgb(25, 25, 25);
	padding: 10px;
	margin: 20px 2% 20px 4%;
}

#elapsedTime {
	display: block;
	float: right;
	width: 40%;
	border: 1px double black;
	border-right: 5px solid rgb(25, 25, 25);
	border-bottom: 5px solid rgb(25, 25, 25);
	padding: 10px;
	margin: 20px 4% 20px 2%;
}

#pastDate {
	display: inline-block;
	clear: none;
	width: 100px;
	margin-right: 0;
}

#apptDate {
	width: 80px;
}

#calendarButton {
	display: inline-block;
	clear: none;
	float: right;
	width: 22px;
	height: 22px;
	margin-top: 5px;
	margin-left: 0;
	background-color: rgb(125, 125, 125);
	cursor: pointer;
}

#calendar table {
   clear: both;
}

#calendar table caption {
   font-weight: bold;
   font-size: 1.6em;
   padding: 5px;
}

#calendar table th {
   text-align: right;
}

#calendar table th, #calendar table td {
   width: 2em;
   padding: 4px;
}

#calendar table td {
   color: rgb(50, 50, 50);
   text-align: center;
   cursor: pointer;
}

#prev {
   float: left;
   padding: 4px;
   cursor: pointer;
}

#next {
   float: right;
   padding: 4px;
   cursor: pointer;
}

#calendar table td.pastdate {
   color: rgb(150, 150, 150);
}

#calendar table td.pastdate:hover, #prev:hover, #next:hover, #close:hover {
   background: rgb(150, 150, 150);
   color: black;
}

#calendar table td.futuredate {
   color: rgb(150, 150, 150);
}

#calendar table td.futuredate:hover, #prev:hover, #next:hover, #close:hover {
   background: rgb(150, 150, 150);
   color: black;
}

#close {
   color: rgb(200, 200, 200);
   float: right;
   padding: 0 4px;
   cursor: pointer;
}

#elapsedResults {
	display: block;
	float: right;
	width: 50%;
	text-align: center;
}

#apptResults {
	display: block;
	float: left;
	width: 50%;
}

#apptName, #apptBookedFor, #apptBookedOn, #apptCount {
	text-align: left;
	padding-left: 50px;
}