@charset "utf-8";

html {
	/*-webkit-animation: fadein 5s;
	animation: fadein 5s;*/
	overflow-x: hidden;
    font-size: 2vh;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Firefox */

@-moz-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Safari and Chrome */

@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

body {
	margin: 0 auto;
	padding: 0;
	max-width: 2560px;
}

p {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

header {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	background-image: url("img/mHeader.jpg");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% auto;
}

.headerContent {
	display: block;
	position: relative;
	clear: both;
	margin: 0;
	padding: 0;
}

#logo {
	display: block;
	clear: both;
	padding: 0;
	margin: auto;
	width: 100%;
	height: 60vh;
}

#logo img {
	display: block;
	clear: both;
    width: 90%;
    height: auto;
	margin: 0;
	padding: 0;
}

header address {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 5vh;
	font-size: .8em;
	font-weight: bold;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 1px black;
}

#downArrow {
	display: block;
	margin: auto;
	width: 100%;
	height: 5vh;
	text-align: right;
}

#downArrow img {
	width: 40px;
	height: auto;
}

#bookNow {
	display: block;
	float: right;
	margin: 10px;
    padding: 5px 15px;
	font-size: 1.5em;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px 2px black;
    background-color: rgb(131, 158, 179);
    border-radius: 50px;
    box-shadow: 2px 2px 2px black
}

header a:visited {
	color: rgb(131, 158, 179);
	text-decoration: none;
}

header a:link {
	color: rgb(131, 158, 179);
	text-decoration: none;
}

.main {
	position: relative;
	margin: 0;
	padding: 0;
	background-color: rgb(255, 255, 255);
	z-index: 1;
}

header address {
	display: block;
	margin: 5% 0 0 0;
	padding: 0;
	width: 100%;
	font-weight: bold;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 2px black
}

#arrowWrapper {
	display: block;
	position: absolute;
	bottom: 10px;
	width: 100%;
}

#downArrow {
	display: block;
	margin: auto;
	bottom: 10px;
	width: 50px;
}

p {
	clear: both;
}

h3, h4 {
	text-align: center;
}

.infoPanel {
	position: relative;
	z-index: 1;
	display: block;
	min-height: 100vh;
}

.panelHeader {
    display: table;
	width: 100%;
    min-height: 10vh;
	 padding: 0;
    background-color: rgb(131, 158, 179);
    color: white;
    box-shadow: 0px 2px 2px black;
}

.panelHeader h1 {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 3em;
	text-align: center;
    text-shadow: 2px 2px 2px rgba(160, 200, 255, 0.5);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-color: rgb(0, 10, 40);
    vertical-align: middle;
}

.panelBody {
	display: table;
   min-height: 90vh;
}

.panelContent {
    display: block;
	float: left;
    width: 100%;
    min-height: 75vh;
    margin: 2.5vh 0 0 0;
	padding: 0;
}

.panelContent h2 {
	text-align: center;
}

.panelContent p {
	margin: 20px;
}

#laserInfo {
	background-image: url("img/mLaser.jpg");
	background-position: top;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: cover;
}

#sunFXInfo {
	background-image: url("img/mSunFX.jpg");
	background-position: top;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: cover;
}

#massageInfo {
	background-image: url("img/mMassage.jpg");
	background-position: top;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: cover;
}

.panelNav {
   display: block;
	position: relative;
	float: left;
	clear: both;
	z-index: 2;
    width: 100%;
	min-height: 5vh;
    text-align: center;
	margin: 0 0 0 0;
    padding: 0;
}

.panelNav p {
	display: inline-block;
	font-weight: bolder;
}

.panelNav li {
    display: inline-block;
	width: 32%;
    color: white;
}

.panelNav img {
	display: inline-block;
	vertical-align: middle;
}

.infoPanel {
	min-height: 100vh;
}

.infoPanel a {
    display: inline-block;
    clear: none;
    color: white;
    text-align: center;
	 text-decoration: none;
	font-size: 1.25em;
}


.infoPanel a:visited {
	color: black;
	text-decoration: none;
}

.infoPanel a:link {
	color: black;
	text-decoration: none;
}

.panelNav img {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 0;
}

.panelNav p {
	display: inline-block;
	margin: 0;
	
}

#massageContent2 {
	display: table;
	text-align: center;
	margin: auto;
}

.infoPanelContent {
    display: inline-block;
    clear: none;
    float: left;
    width: 50%;
    height: 42.5vh;
    padding: 0;
    margin: 0;
}

#background2 {
	position: fixed;
	z-index: -2;
}

#servicesA {
	display: block;
	clear: both;
	margin: 0;
	padding: 0;
}

.services {
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
	width: 32.5%;
	height: 300px;
}

.services h1 {
	margin: 0;
	padding: 0;
	font-size: 2em;
}

.services h2 {
	margin: 0;
	padding: 0;
    width: 100%;
	font-size: 1.5em;
    text-align: center;
}

.services h3 {
	margin: 0;
	padding: 0;
	font-size: 1em;
}

.services p {
    margin: 0;
    font-size: .8em;
}

#contactUs {
	min-height: 95vh;
}

#contactPanel {
    min-height: 85vh;
}

form {
	margin: 10px;
}

input {
    display: block;
    clear: both;
    float: left;
    width: 300px;
}

textarea {
    display: block;
    clear: both;
    float: left;
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
}

label {
    display: block;
    clear: both;
    float: left;
}

.g-recaptcha {
    display: block;
    clear: both;
}

.button {
	width: 100px;
}

footer {
	display: block;
	position: absolute;
	margin: auto;
	bottom: 0;
	height: 5vh;
	padding: 5px 10px;
	text-align: center;
}

footer * {
	display: inline-block;
	margin: 0 20px 0 0;
}
