@charset "utf-8";

/*Tattoo Common CSS*/

body {
	background-color: rgb(25, 25, 25);
}

section {
	display: table;
	margin: auto;
	padding: 50px;
	width: 600px;
	background-color: rgb(75, 75, 75);
}

div, header, nav {
	display: block;
	padding-bottom: 25px;
}

h1, h2, p {
	text-align: center;
}

img {
	display: block;
	margin: 0px auto;
}

nav {
	margin: 0 0 40px 0;
	padding: 0;
	text-align: center;
	list-style: none;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	display: inline;
}

nav a{
	display:inline-block;
	padding: 10px 50px;
}

nav li a:hover {
	background: rgb(50, 50, 50);
	border-radius:10px;
}

nav a:visited {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

nav a:link {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

div#artistList {
	display: block;
	float: left;
}

div#artistList li {
	display: block;
	padding: 22px 10px;
}

div#artistImage {
	display: block;
}

form legend {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

form input {
	float: right;
	clear: both;
	border: none;
	height: 20px;
	width: 40px;
	margin: 5px 0 5px 40px;
	background-color: rgb(125, 125, 125);
}

form label {
	float: right;
	margin: 5px 0;
}

div#total {
	display: block;
	text-align: center;
	float: right;
}

div#total h3, p{
	display: inline;
	clear:both;
	padding: 20px;
}

input#submit {
	float: left;
	display: block;
}